# .coveragerc
[report]
show_missing = True

[run]
omit =
    nomenclate/__init__.py
    nomenclate/__main__.py
    nomenclate/app.py
    nomenclate/nlog.py
    nomenclate/settings.py
    nomenclate/version.py
    nomenclate/ui/*
    nomenclate/core/errors.py
    nomenclate/core/nameparser.py